@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  text-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
}

.title svg {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-size: inherit;
  width: 1em;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.title svg path {
  fill: currentColor;
}

.location-item:last-of-type {
  border-bottom: 0;
}

.cursor-zoom-out {
  cursor: zoom-out;
}
